.content {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

label + input,
label + textarea {
  margin-top: 0.5rem;
}

.field-group {
  margin-top: 1.5rem;
}

.form__text--invalid {
  border: 2px solid #a94442;
}

.input--width {
  width: 100%;
}

@media only screen and (min-width: 1200px) {
  .content {
    margin: 0rem 15rem;
  }
}
