<div class="content">
  <div>
    If you have any enquiries, feel free to contact us (Amy and Willy) at <strong>0416138808</strong> (mobile), or fill in the form below
  </div>
  <div>
    <form role="form" novalidate (ngSubmit)="onSubmit()" [formGroup]="contactUsForm">
      <div class="field-group">
        <label for="nameId">Name</label>
        <input type="text"
             class="input"
             id="nameId"
             formControlName="name"
             placeholder="Enter name (required)"
             [ngClass]="{'form__text--invalid' : (contactUsForm.get('name').touched ||
                                                  contactUsForm.get('name').dirty) &&
                                                  contactUsForm.get('name').invalid }"
             required />
        <div class="prompt" *ngIf="(contactUsForm.get('name').touched ||
                    contactUsForm.get('name').dirty) &&
                    contactUsForm.get('name').errors?.required">
          Please fill out this field
        </div>
      </div>
      <div class="field-group">
        <label for="phoneId">Phone</label>
        <input type="tel"
             class="input"
             id="phoneId"
             formControlName="phone"
             placeholder="Enter phone"
             maxlength="50"/>
      </div>
      <div class="field-group">
        <label for="emailId">Email</label>
        <input type="email"
            class="input"
            id="emailId"
            formControlName="email"
            placeholder="Enter email (required)"
            maxlength="50"
            [ngClass]="{'form__text--invalid' : (contactUsForm.get('email').touched ||
                                        contactUsForm.get('email').dirty) &&
                                        contactUsForm.get('email').invalid }"
            required />
        <div class="prompt" *ngIf="(contactUsForm.get('email').touched ||
                    contactUsForm.get('email').dirty) &&
                    contactUsForm.get('email').errors?.required">
          Please fill out this field
        </div>
        <div class="prompt" *ngIf="(contactUsForm.get('email').touched ||
                    contactUsForm.get('email').dirty) &&
                    contactUsForm.get('email').errors?.email">
          Please enter a valid email
        </div>
      </div>
      <div class="field-group">
        <label for="subjectId">Subject</label>
        <input type="text"
             class="input"
             id="subjectId"
             formControlName="subject"
             placeholder="Enter subject (required)"
             maxlength="100"
             [ngClass]="{'form__text--invalid' : (contactUsForm.get('subject').touched ||
                                         contactUsForm.get('subject').dirty) &&
                                         contactUsForm.get('subject').invalid }"
             required />
        <div class="prompt" *ngIf="(contactUsForm.get('subject').touched ||
                    contactUsForm.get('subject').dirty) &&
                    contactUsForm.get('subject').errors?.required">
          Please fill out this field
        </div>
      </div>
      <div class="field-group">
        <label for="messageId">Message</label>
        <textarea id="messageId"
                  class="input"
                  formControlName="message"
                  placeholder="Enter message (required)"
                  rows="5"
                  cols="35"
                  maxlength="255"
                  [ngClass]="{'form__text--invalid' : (contactUsForm.get('message').touched ||
                                              contactUsForm.get('message').dirty) &&
                                              contactUsForm.get('message').invalid }"
                  required >
        </textarea>
        <div class="prompt" *ngIf="(contactUsForm.get('message').touched ||
                    contactUsForm.get('message').dirty) &&
                    contactUsForm.get('message').errors?.required">
          Please fill out this field
        </div>
      </div>
      <div class="field-group">
        <button type="submit" class="btn--disabled" mat-raised-button [disabled]="contactUsForm.invalid">
          Send Email  <ng-container *ngIf="isLoading"><mat-icon><mat-spinner color="accent" diameter="20"></mat-spinner></mat-icon></ng-container>
        </button>
      </div>
    </form>
  </div>
  <div *ngIf="showPrompt">
    <p>Thank you for your enquiry. We will contact you soon.</p>
  </div>
  <div *ngIf="showError">
    <p>We are currently having a technical issue in sending your email. Please try again later. We apologise for the inconvenience.</p>
  </div>
</div>
