.accommodation-container {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  margin: 0rem 15rem;
}

.carousel-container {
  margin-top: 1rem;
}

@media only screen and (max-width: 1200px) {
  .accommodation-container {
    margin: 0rem 1rem;
  }
}
