<div class="accommodation-container">
  <div>
    <h3>Key Features:</h3>
    <div class="key-feature-item">
      <div>Brand new modern townhouses</div>
      <div><fa-icon [icon]="faCheckCircle"></fa-icon></div>
    </div>
    <div class="key-feature-item">
      <div>Short walking distant to Monash Clayton University</div>
      <div><fa-icon [icon]="faCheckCircle"></fa-icon></div>
    </div>
    <div class="key-feature-item">
      <div>Stroll to Central Bus loop centre to go to shopping centre or Melbourne city</div>
      <div><fa-icon [icon]="faCheckCircle"></fa-icon></div>
    </div>
    <div class="key-feature-item">
      <div>Clean and Fully furnished rooms</div>
      <div><fa-icon [icon]="faCheckCircle"></fa-icon></div>
    </div>
    <div class="key-feature-item">
      <div>All utilities like Gas, Water, Electricity and high speed internet are included in the rental fee</div>
      <div><fa-icon [icon]="faCheckCircle"></fa-icon></div>
    </div>
    <div class="key-feature-item">
      <div>Heating and cooling split units and bar fridge are provided in each bed room</div>
      <div><fa-icon [icon]="faCheckCircle"></fa-icon></div>
    </div>
  </div>
  <div>
    <div class="img-container">
      <div class="image-items">
        <img src="../../assets/images/Dandy House 1024 1.jpg" class="responsive">
      </div>
      <div class="image-items">
        <img src="../../assets/images/IMG_0025.JPG" class="responsive">
      </div>
    </div>
  </div>
</div>
