.accommodation-list-container {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
}

@media only screen and (min-width: 568px) {
  .accommodation-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 1rem 0rem 1rem 0.5rem;

  .responsive {
    max-width: 100%;
    height: auto;
  }
}

.carousel-footer {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  justify-content: space-around;
  align-items: baseline;

  .label--emphasize {
    line-height: 36px;
    font-weight: bold;
  }
}
