<div class="accommodation-list-container">
  <div class="carousel-container">
    <div>
      <img class="responsive" [src]="'/assets/images/' + this.dandenongFirstImageUrl" alt="dandenong" width="560" height="460">
    </div>
    <div class="carousel-footer">
      <div>
        <button mat-raised-button (click)="showImages('dandenong')">View Images</button>
      </div>
      <div class="label--emphasize">{{this.dandenong}}</div>
      <div>
        <button mat-raised-button (click)="showMap('dandenong')">Show Map</button>
      </div>
    </div>
  </div>
  <div class="carousel-container">
    <div>
      <img class="responsive" [src]="'/assets/images/' + this.blackBurnFirstImageUrl" alt="dandenong" width="560" height="460">
    </div>
    <div class="carousel-footer">
      <div class="label--emphasize">
        <button mat-raised-button (click)="showImages('blackburn')">View Images</button>
      </div>
      <div class="label--emphasize">{{this.blackburn}}</div>
      <div>
        <button mat-raised-button (click)="showMap('blackburn')">Show Map</button>
      </div>
    </div>
  </div>
</div>
