<div>
  <div class="img-container">
    <div class="image-items">
      <a [routerLink]="['1']"><img src="../../assets/images/Dandy House 1024 1.jpg" class="responsive"></a>
    </div>
    <div class="link-text">
      <a [routerLink]="['1']" routerLinkActive="active">Dandenong</a>
    </div>
  </div>
  <div class="img-container">
    <div class="image-items">
      <a [routerLink]="['2']"><img src="../../assets/images/IMG_0025.JPG" class="responsive"></a>
    </div>
    <div class="link-text">
      <a [routerLink]="['2']" routerLinkActive="active">Blackburn</a>
    </div>
  </div>
</div>
