<div class="accommodation-list-container">
  <div class="carousel-container">
    <div>
      <mat-carousel
        timings="200ms ease-in"
        interval="6000"
        proportion=80
        [hideArrows]="false"
        [hideIndicators]="true"
      >
        <mat-carousel-slide
          *ngFor="let slide of dandenongSlides; let i = index"
          [image]="slide.imageUrl"
          [hideOverlay]="false"
        ></mat-carousel-slide>
      </mat-carousel>
    </div>
    <div class="accommodation-name">
      {{ dandenong }}
    </div>
  </div>
  <div class="carousel-container">
    <div>
      <mat-carousel
        timings="200ms ease-in"
        interval="6000"
        proportion=80
        [hideArrows]="false"
        [hideIndicators]="true"
      >
        <mat-carousel-slide
          *ngFor="let slide of blackBurnSlides; let i = index"
          [image]="slide.imageUrl"
          [hideOverlay]="false"
        ></mat-carousel-slide>
      </mat-carousel>
    </div>
    <div class="accommodation-name">
      {{ blackburn }}
    </div>
  </div>
</div>
