.container {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(20px, 1fr));
  grid-gap: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
}

.image-container {
  margin: 0em 10em;
}

.responsive {
  width: 100%;
  height: auto;
}

.welcome {
  width: auto;
  margin: 0em 10em;
}

@media only screen and (max-width: 812px) {
  .welcome {
    width: auto;
    margin: auto;
  }

  .image-container {
    width: auto;
    margin: auto;
  }
}
