<div  class="content">
  <div class="banner-container">
    <img src="../../assets/images/home_page_image.jpg" class="responsive">
  </div>
  <div>
    <h1>Welcome</h1>
    <p>We provide the finest short term room accomodation facility for those studying in Melbourne’s Universities or working in Medical and other Institutions. </p>
    <p>All facilities are provided, so just bring your bags and enjoy the great living and friendly environment here that we have set up for you.</p>
    <p>Enjoy your stay!</p>
  </div>
  <div class="image-container">
    <img src="../../assets/images/Homepage_banner.gif" class="responsive">
  </div>
</div>
