<div class="content">
  <div>
    <h2>Booking Application Form</h2>
  </div>
  <div>
    <form role="form" novalidate (ngSubmit)="onSubmit()" [formGroup]="bookingForm">
      <fieldset>
        <legend>Personal Details</legend>
        <app-form-input-field
          [id]="'name'"
          [label]="'name'"
          [placeholder]="'Enter name'"
          [required]="true"
          [group]="bookingForm">
        </app-form-input-field>
        <app-form-input-field
          [id]="'age'"
          [label]="'age'"
          [placeholder]="'Enter age'"
          [group]="bookingForm"
          [maxlength]="'2'">
        </app-form-input-field>
        <div class="field-group">
          <fieldset>
            <label>Gender</label>
            <div>
              <input id="maleId" type="radio" value="male" formControlName="gender" />
              <label for="maleId"> Male</label>
            </div>
            <div>
              <input id="femaleId" type="radio" value="female" formControlName="gender" />
              <label for="femaleId"> Female</label>
            </div>
          </fieldset>
        </div>
        <app-form-input-field
          [id]="'address'"
          [label]="'address'"
          [placeholder]="'Enter address'"
          [required]="true"
          [group]="bookingForm"
          [maxlength]="'50'">
        </app-form-input-field>
        <app-form-input-field
          [id]="'suburb'"
          [label]="'suburb/city'"
          [placeholder]="'Enter suburb/city'"
          [required]="true"
          [group]="bookingForm"
          [maxlength]="'100'">
        </app-form-input-field>
        <app-form-input-field
          [id]="'state'"
          [label]="'state'"
          [placeholder]="'Enter state'"
          [required]="true"
          [group]="bookingForm"
          [maxlength]="'100'">
        </app-form-input-field>
        <app-form-input-field
          [id]="'postcode'"
          [label]="'postcode'"
          [placeholder]="'Enter postcode'"
          [group]="bookingForm"
          [maxlength]="'30'">
        </app-form-input-field>
        <app-form-input-field
          [id]="'country'"
          [label]="'country'"
          [placeholder]="'Enter country'"
          [required]="true"
          [group]="bookingForm"
          [maxlength]="'50'">
        </app-form-input-field>
        <app-form-input-field
          [id]="'phone'"
          [type]="'tel'"
          [label]="'phone/mobile'"
          [placeholder]="'Enter phone/mobile'"
          [group]="bookingForm"
          [maxlength]="'50'">
        </app-form-input-field>
        <app-form-input-field
          [id]="'email'"
          [type]="'email'"
          [label]="'email'"
          [placeholder]="'Enter email'"
          [group]="bookingForm"
          [required]="true"
          [maxlength]="'50'">
        </app-form-input-field>
      </fieldset>
      <fieldset>
        <legend>Preferred location / Building</legend>
        <div class="field-group">
          <fieldset>
            <label>Location</label>
            <div>
              <input id="dandenongId" type="radio" value="dandenong" formControlName="location" />
              <label for="dandenongId"> Dandenong Townhouses</label>
            </div>
            <div>
              <input id="blackburnId" type="radio" value="blackburn" formControlName="location" />
              <label for="blackburnId"> Blackburn Townhouses</label>
            </div>
          </fieldset>
        </div>
      </fieldset>
      <fieldset>
        <legend>Reference Details</legend>
        <app-form-input-field
          [id]="'refName'"
          [label]="'name'"
          [placeholder]="'Enter name'"
          [required]="true"
          [group]="bookingForm">
        </app-form-input-field>
        <app-form-input-field
          [id]="'refAddress'"
          [label]="'address'"
          [placeholder]="'Enter address'"
          [required]="true"
          [maxlength]="'50'"
          [group]="bookingForm">
        </app-form-input-field>
        <app-form-input-field
          [id]="'refSuburb'"
          [label]="'suburb/city'"
          [placeholder]="'Enter suburb/city'"
          [required]="true"
          [group]="bookingForm"
          [maxlength]="'100'">
        </app-form-input-field>
        <app-form-input-field
          [id]="'refState'"
          [label]="'state'"
          [placeholder]="'Enter state'"
          [required]="true"
          [group]="bookingForm"
          [maxlength]="'100'">
        </app-form-input-field>
        <app-form-input-field
          [id]="'refPostcode'"
          [label]="'postcode'"
          [placeholder]="'Enter postcode'"
          [group]="bookingForm"
          [maxlength]="'30'">
        </app-form-input-field>
        <app-form-input-field
          [id]="'refCountry'"
          [label]="'country'"
          [placeholder]="'Enter country'"
          [required]="true"
          [group]="bookingForm"
          [maxlength]="'50'">
        </app-form-input-field>
        <app-form-input-field
          [id]="'refPhone'"
          [type]="'tel'"
          [label]="'phone/mobile'"
          [placeholder]="'Enter phone/mobile'"
          [group]="bookingForm"
          [maxlength]="'50'">
        </app-form-input-field>
        <app-form-input-field
          [id]="'refEmail'"
          [type]="'email'"
          [label]="'email'"
          [placeholder]="'Enter email'"
          [group]="bookingForm"
          [required]="true"
          [maxlength]="'50'">
        </app-form-input-field>
      </fieldset>
      <fieldset>
        <legend>Additional Comments</legend>
        <div class="field-group">
          <label for="commentId">Any further information/enquiries/questions</label>
          <textarea class="input"
                    formControlName="comment"
                    id="commentId"
                    cols="60"
                    rows="5"></textarea>
        </div>
      </fieldset>
      <div class="field-group">
        <button type="submit" class="btn--disabled" mat-raised-button [disabled]="bookingForm.invalid">
          Send Email  <ng-container *ngIf="isLoading"><mat-icon><mat-spinner color="accent" diameter="20"></mat-spinner></mat-icon></ng-container>
        </button>
      </div>
    </form>
  </div>
  <div *ngIf="showPrompt">
    <p>Thank you for your enquiry. We will contact you soon.</p>
  </div>
  <div *ngIf="showError">
    <p>We are currently having a technical issue in sending your email. Please try again later. We apologise for the inconvenience.</p>
  </div>
</div>
