.key-feature-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25rem 0rem 1rem 0rem;
}

.feature__item--left-padded {
  padding-left: 0.5rem;
}

@media only screen and (max-width: 1200px) {
  .key-feature-item {
    padding: 0.25rem 0rem;
  }
}
