<div>
  <h3>Key Features:</h3>
  <div class="key-feature-item">
    <div></div>
    <div class="feature__item--left-padded">Brand new modern townhouses</div>
  </div>
  <div class="key-feature-item">
    <div></div>
    <div class="feature__item--left-padded">Short walking distant to Monash Clayton University</div>
  </div>
  <div class="key-feature-item">
    <div></div>
    <div class="feature__item--left-padded">Stroll to Central Bus loop centre to go to shopping centre or Melbourne city</div>
  </div>
  <div class="key-feature-item">
    <div></div>
    <div class="feature__item--left-padded">Clean and Fully furnished rooms</div>
  </div>
  <div class="key-feature-item">
    <div></div>
    <div class="feature__item--left-padded">All utilities like Gas, Water, Electricity and high speed internet are included in the rental fee</div>
  </div>
  <div class="key-feature-item">
    <div></div>
    <div class="feature__item--left-padded">Heating and cooling split units and bar fridge are provided in each bed room</div>
  </div>
</div>
